*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}

.profile {
  border: 1px solid black;
  padding: 2rem; /* Add padding to create space around the content */
  max-width: 90%; /* Increase the maximum width to 90% of its parent container */
  margin: 2rem auto; /* Center the div horizontally */
  box-sizing: border-box; /* Include padding and border in the element's total width */
  width: 60%; /* Set a width of 90% relative to its parent container */
}

/* Media query for screens smaller than 576px (e.g., mobile phones) */
@media (max-width: 575px) {
  .profile {
    padding: 1rem; /* Reduce padding for smaller screens */
    margin: 0; /* Set margin to 0 for screens 575px and below */
    width: 90%;
    
  }
}

/* Media query for screens between 576px and 768px (e.g., tablets) */
@media (min-width: 576px) and (max-width: 768px) {
  .profile {
    max-width: 90%; 
    width: 90%;
    margin:5px/* Adjust max-width for tablets */
  }
}

/* Media query for screens larger than 768px (e.g., desktops) */
@media (min-width: 769px) {
  .profile {
    max-width: 70%; /* Adjust max-width for larger screens */
  }
}



.HomePage1{
  display: flex;
  flex-direction: column;
}
.lawyerInfo{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.cardItem {
  flex-basis: calc(33.33% - 10px); /* Adjust the width based on your requirements */
  margin: 5px;
}
/* @media (max-width: 770px) {
  .table-responsive {
    
    margin: 0;
    padding: 0;
  }
  .table-responsive table {
    width: 100%;
    margin: 0;
  }
} */
@media (max-width: 475px) {
  .LawyerProfile {
    
    margin: 0!important;
    padding: 0;
  }
  .profile{
    border: none;
    margin: 0;
  }
 
}
.table-responsive {
  overflow-x: hidden;
}